.productSlider {
    font-family: var(--font_poppins);
}

.productSlide {
    width: 250px;
    margin: 10px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    transition: all 1s ease;
    z-index: 1;
}

.productSlide:hover {
    transform: scale(1.03);
}

.productSlide .productDiscount {
    position:absolute;
    top: 0;
    right: 0px;
    padding: 5px;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
}


.productSlide img {
    width: 100%;
    border-bottom: 1px solid var(--primary);
}

.productSlide .productName {
    font-size: 16px;
    margin: 10px auto;
}

.productSlide .productPrice {
    font-size: 24px;
    margin: 10px auto;
}

.flickity-page-dots { display: none;}

@media screen and (min-width: 768px) {

    .productSlide {
        width: 33%;
        height: fit-content;
        padding: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .productSlide {
        width: 20%;
        min-height: fit-content;
    }
}

