<footer class="footer">
    <div class="container-fluid contenedor-fluid">
        <div class="row contenedor">
            <div class="navegacion">
                <h4>Navegación</h4>
                <div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/products/category/1">Escolar</a></li>
                    </ul>
                    <ul>
                        <li><a href="/products/category/2">Artística</a></li>
                        <li><a href="/products/category/3">Oficina</a></li>
                    </ul>
                </div>
            </div>
            <hr class="border">
            <div class="pagos">
                <h4>Medios de pago</h4>
                <div class="pagos-images">
                    <div class="imagen">
                        <img src="/images/footer/ml.png" alt="Mercado Pago">
                    </div>
                    <div class="imagen">
                        <img src="/images/footer/mastercard.png" alt="Matercard">
                    </div>
                    <div class="imagen">
                        <img src="/images/footer/visa.png" alt="Visa">
                    </div>
                </div>
            </div>
            <hr class="border">
            <div class="contacto">
                <h4>Contacto</h4>
                <div>
                    <ul>
                        <li><a href="/contact">Sucursales</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Teléfono: 011-3142592</a></li>
                        <li><a href="">Email: artisticadali@gmail.com</a></li>
                    </ul>
                </div>
                <ul class="social">
                    <li><a href=""><img src="/images/footer/whatsapp.svg" alt="whatsapp"></a></li>
                    <li><a href=""><img src="/images/footer/twitter.svg" alt="twitter"></a></li>
                    <li><a href=""><img src="/images/footer/facebook.svg" alt="facebook"></a></li>
                    <li><a href=""><img src="/images/footer/instagram.svg" alt="instagram"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>